# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/
dist/
.cache/

# Configuración de Next.js
.next/cache/
.next/static/


# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Archivos de Storybook generados
*storybook.log
.storybook-out/

# Archivos de Jest y pruebas
coverage/
*.lcov

# Archivos de configuración de testing-library
.jest/
.jest-cache/
.jest-test-results.json


# Archivos de configuración de VSCode e IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Configuración de MacOS y Linux (archivos ocultos)
.DS_Store
Thumbs.db

# Archivos de configuración de TypeScript
tsconfig.tsbuildinfo

# Cache de ESLint y Prettier
eslintcache
.prettier.cache